* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

@font-face {
    font-family: 'font';
    src: url('fonts/AARDV.TTF') format('truetype'),
        url('fonts/Alexside.ttf') format('truetype');
}

@font-face {
    font-family: 'fonts';
    src: url('fonts/theboldfont.ttf') format('truetype');
}

body {
    font-family: fonts;
    scroll-behavior: smooth;


}

.header {
    margin: auto;
    height: 1200px;
    background-image: url("img/deep-advani-9MMx869kt0A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

.header .nav-list {
    list-style-type: none;

}

.header .nav-list .nav-item {
    display: inline-block;
    padding: 15px;
    margin-top: 15px;
}

li a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;

}

li a:hover {
    text-decoration: none;
    color: white;
    border-radius: 10px 10px 0 0;
    transition: all .5s ease-out;
}

h1 {
    margin-top: 600px;
    font-size: 80px;
    font-family: fonts;
    text-shadow: 2px 2px 2px white;
    letter-spacing: 4px;
}

span {
    color: whitesmoke;
}

p {
    margin-top: 50px;
}

.sp {
    color: whitesmoke;
}

.about {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.box {
    font-family: tahoma;
    height: 500px;
    background-color: whitesmoke;
    text-align: center;
}

.box a {
    font-family: fonts;
}

.header1 {
    margin: auto;
    height: 700px;
    background-image: url("img/deep-advani-9MMx869kt0A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

.box h2 {
    padding-top: 35px;
    font-size: 35px;
    background-color: whitesmoke;
}

.box p {
    line-height: 40px;
    padding: 10px 60px 40px 60px;
    font-size: 15px;
    text-align: justify;
}

.box a {

    color: black;
    text-decoration: none;
    font-size: 25px;
}

.box a:hover {
    text-decoration: underline;
}

.members {
    padding: 50px 30px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.member-list li:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.member-list {
    list-style-type: none;
    margin-top: 30px;
}

.member-item {
    width: 400px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.member-pic {
    width: 100%;
    border-radius: 15px;
}

.members a:hover {
    color: gray;
}

.members p {
    font-family: serif;
    text-align: justify;
    padding-bottom: 15px;
}

.footer {
    margin: auto;
    height: 150px;
    background-color: whitesmoke;
    position: fixed;
    text-align: center;
}

.foot {
    margin: auto;
}

.foot img {
    width: 30px;
    margin: 15px 15px;
}

.footer a {
    display: inherit;

}
.ft{
    margin:15px;
    padding: 15px;
}
.b{
    width: 30%;
    border-top:5px solid black ;
    border-radius:50px;
    margin: auto;
}
